
    aside{
        section{
            box-shadow: $default-box-shadow;
            border-radius:3px;
            padding:1em;
            &.sidebar-contact{
                background-color:rgba($lime-green, 0.5);
                margin-bottom:20px;
            }
            &.sidebar-association{
                background-color:#eee;
                ul{
                    padding:0 1em;
                    li{
                        margin: 0.75em 0;
                    }
                }
            }
        }
        
    }