header{
    text-align:center;
    .page-header{
        h1{
            font-size:60px;
            margin-top:0.5em;
            margin-bottom:0;
        }
        h2{
            margin:0;
            margin-bottom:1.25em;
        }
    }
    nav{
        background-color:$dark-blue;
        box-shadow:$default-box-shadow;
        border-radius:3px;
        ul{
            display:flex;
            justify-content: space-around;
            list-style-type: none;
            padding:0;
            li{
                a{
                    display:block;
                    color:white;
                    padding: 1em 0;
                    font-weight:700;
                    letter-spacing:0.75px;
                    text-transform: uppercase;
                    text-decoration: none;
                    &:hover{
                        color:$lime-green;
                    }
                }
            }
        }
    }
}