.main-content{
    h1{
        font-size:40px;
        margin:0;
    }
    .image-ellen{
        float:right;
        margin-left:10px;
        margin-botton:10px;
        box-shadow:$default-box-shadow;
        border-radius:2px;
    }
}