body{
    font-family: 'Source Sans Pro', sans-serif;
    border-top:10px solid $lime-green;
    padding:0;
    margin:0;
    margin-top:0;
    width:100%;
}

.site-container{
    display:grid;
    grid-gap:30px;
    max-width:1000px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 7fr;
    grid-template-areas:
        "header header header"
        "main main contact"
        "main main contact"
        "main main qualifications"
        "section1 section2 qualifications"
        "section3 section4 qualifications"
        "footer footer footer";
    header{
        grid-area:header;
    }
    section.main-content{
        grid-area: main;
    }
    section.main-subsection{
        &.section1{
            grid-area:section1;
        }
        &.section2{
            grid-area:section2;
        }
        &.section3{
            grid-area:section3;
        }
        &.section4{
            grid-area:section4;
        }
        
    }
    aside{
        &.sidebar-contact{
            grid-area:contact;
        }
        &.sidebar-qualifications{
            grid-area:qualifications;
        }
    }
    footer{
        grid-area:footer;
    }

    @media (max-width: 1100px) { 
        padding: 0 2em;
    }
    @media (max-width: 960px) { 
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas:
        "header header header header header header header header"
        "main main main main main contact contact contact"
        "main main main main main contact contact contact"
        "main main main main main contact contact contact"
        "qualifications qualifications qualifications qualifications qualifications qualifications qualifications qualifications"
        "section1 section1 section2 section2 section3 section3 section4 section4"
        "footer footer footer footer footer footer footer footer";
    }
    @media (max-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
        grid-gap:16px;
        grid-template-areas:
        "header header header header"
        "contact contact contact contact"
        "main main main main"
        "qualifications qualifications qualifications qualifications"
        "section1 section1 section2 section2"
        "section3 section3 section4 section4"
        "footer footer footer footer";
    } 
    @media (max-width: 560px) {
        padding: 0 1em;
    }
}

